package main

items := [][]string {
  {"Go", "https://go.dev/doc/", "https://go.dev/images/go-logo-blue.svg"},
  {"HTMX", "https://htmx.org/docs", "https://htmx.org/img/htmx_logo.2.png"},
  {"Templ", "https://templ.guide/", "https://templ.guide/img/logo.svg"},
}

templ details() {
  <div>
    <h3 style="text-align:center;">Welcome to HTMX!</h3>
    <p>You&apos;re using these tools, check their docs to learn more:</p>
    <ul>
      for _, item := range items {
        <li>
          <img src={item[2]} />
          <a href={item[1]}>{item[0]}</a>
        </li>
      }
    </ul>
  </div>
}