body {
  font: 300 18px Helvetica;
}

code {
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  background: #222;
  color: #fff;
  display: block;
}

.card {
  width: min(600px, calc(100% - 20px));
  background: linear-gradient(90deg, #ccc 0%, #eee 100%);
  display: flex;
  border-radius: 10px;
  padding: 15px;
  margin: 10px auto;
}

.wbg {
  background: #fff;
  border-radius: 10px;
  margin-right: 12px;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

li {
  margin: 5px;
  padding: 7px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between
}

li img {
  width: 100px;
  height: 100px;
  margin-bottom: 7px;
  border-radius: 50px;
}