package main

templ details() {
  <>
    <h3 style="text-align:center;">Welcome to HTMX!</h3>
    <p>You're using these tools, check their docs to learn more:</p>
    <ul>
      <li>
        <img src="https://bun.sh/logo_avatar.svg" />
        <a href="https://bun.sh/docs">Bun</a>
      </li>
      <li>
        <img src="https://htmx.org/img/htmx_logo.2.png" />
        <a href="https://htmx.org/docs">HTMX</a>
      </li>
      <li>
      <img src="https://hono.dev/images/logo.png" />
        <a href="https://hono.dev/">Hono</a>
      </li>
    </ul>
  </>
}